<ion-content>
  
  <div id="header">
    <h1>Recuperar Contraseña</h1>
    <img src="assets/images/favicon.png" />
  </div>

<form id="form">
  <ion-item class="ion-margin-bottom">
  <ion-input type="text"
placeholder="Ingrese su correo"
 required></ion-input>
</ion-item> 

  <ion-label text-center color="secundary" style="text-align: center;">Al ingresar su correo se le enviará un link de <br> recuperación con el cual podra crear una <br> contraseña nueva. <br>
    Por favor, revise su bandeja de entrada</ion-label>



<ion-button color="button" shape="round" fill="outline" expand="block" type="submit" routerLink="/login" >Enviar</ion-button>
  </form>
  </ion-content>