<ion-content>
  <ion-card color="primary"> 
    <!-- Default Searchbar -->
  <ion-searchbar ></ion-searchbar>
  <ion-card *ngFor="let bracelet of bracelet">
   <ion-card-content>
     <ion-item >
      <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
       <ion-label>Oxigenación sanguinea: {{bracelet.blood_oxygenation}}</ion-label>
     </ion-item>
  
    <ion-item>
      <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
       <ion-label>Ritmo cardiaco: {{bracelet.heart_rate}}</ion-label>
     </ion-item>
   </ion-card-content>
  </ion-card>
  

  </ion-card>
  </ion-content>