<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <div class="ion-padding">
      <ion-card>
        <ion-card-header>
          Oxigenación Sangínea
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas></canvas>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          Ritmo Cardíaco
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas></canvas>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          Line Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

</ion-content>
