<ion-content *ngIf="datos">
<div id="card">
  <ion-grid id="form">
      <ion-row class="align-center">
          <ion-col size="11">
              <ion-list>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>Bret</b>
                      </ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>Ortiz</b></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>Pérez</b></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>BAPEJUDN99GW</b></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>21</b></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>756682</b></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>282018012</b></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>Av. S/N</b></ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label color="medium" class="large-title"><b>Covadonga</b></ion-label>
                  </ion-item>
              </ion-list>
          </ion-col>
      </ion-row>
  </ion-grid>
</div>
</ion-content>

<ion-content *ngIf="!datos">
    <ion-card class="alerta">
        <ion-card-content>
            <ion-icon name="alert-outline"></ion-icon>    
        <ion-card-title>No hay datos de tu domicilio actual</ion-card-title>
        </ion-card-content>
      </ion-card>
</ion-content>