<ion-content>
<ion-card color="primary"> 
  <!-- Default Searchbar -->
<ion-searchbar ></ion-searchbar>
<ion-card >
 <ion-card-content>
   <ion-item >
    <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
     <ion-label>Presión-Mañana: 120/140</ion-label>
     <ion-icon name="create-sharp"></ion-icon>
     <ion-icon name="trash-sharp"></ion-icon>
   </ion-item>

  <ion-item>
    <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
     <ion-label>Presión-Noche: 150/130</ion-label>
     <ion-icon name="create-sharp"></ion-icon>
     <ion-icon name="trash-sharp"></ion-icon>
   </ion-item>
 </ion-card-content>
</ion-card>

<ion-card>
 <ion-card-content>
   <ion-item >
    <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
     <ion-label>Presión-Mañana: 120/140</ion-label>
     <ion-icon name="create-sharp"></ion-icon>
     <ion-icon name="trash-sharp"></ion-icon>
   </ion-item>

  <ion-item>
    <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
     <ion-label>Presión-Noche: 150/130</ion-label>
     <ion-icon name="create-sharp"></ion-icon>
     <ion-icon name="trash-sharp"></ion-icon>
   </ion-item>
 </ion-card-content>
</ion-card>

<ion-card>
 <ion-card-content>
   <ion-item >
    <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
     <ion-label>Presión-Mañana: 120/140</ion-label>
     <ion-icon name="create-sharp"></ion-icon>
     <ion-icon name="trash-sharp"></ion-icon>
   </ion-item>

  <ion-item>
    <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
     <ion-label>Presión-Noche: 150/130</ion-label>
     <ion-icon name="create-sharp"></ion-icon>
     <ion-icon name="trash-sharp"></ion-icon>
   </ion-item>
 </ion-card-content>
</ion-card>
</ion-card>
</ion-content>