.fecha {
    position: absolute;
    height: 1px;
    top: 1%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.boton {
    position: absolute;
    height: 1px;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);

    width: 100px;
}



