<ion-menu side="start" 
menuId="Primer menu"
contentId="principal">
<ion-content>
   <div class="menu-header-bg"></div>
   <div class="header-content">
      <img src="../../../assets/images/default.png" alt="">
      <ion-label>
         <h2>Moises Martinez</h2>
         <p>Paciente</p>
      </ion-label>
   </div> 
<ion-list lines="none" class="menu-items">
   <ion-menu-toggle *ngFor="let c of componentes | async">
<ion-item [routerLink]="c.redirecTo" class="active">
<ion-icon slot="start" [name]="c.icon"></ion-icon>
<ion-label > {{c.name}} </ion-label>  
</ion-item>
</ion-menu-toggle>


</ion-list>
</ion-content>
</ion-menu>