
.padding {
    padding: 5%;
}
.boton {
    position: absolute;
    top: 70%;
    left: 18%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.boton2 {
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 110px;
}

.texto{
    position: absolute;
    height: 120px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}